.content {
    margin: 25px 10px;
}

/* generic error class */
.error {
    color: red;
}

.header {
    display: inline-block;
    margin: 10px 0;
    width: 100%;
}

.user-info-container {
    float: left;
    width: 30%;
    height: 100%;
}

.create-chat-container {
    float: left;
    width: 70%;
    height: 100%;
}

.chat-container {
    margin-top: 5px;
}

.chat-input-container {
    padding-top: 5px;
}

.chat-messages-container {
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* chats table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table a {
    display:block;
    cursor: pointer;
}

/* CHAT */

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.circle {
  float: left;
  width: 100%;
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 18px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  background: #000;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}